@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(1000%);
	}
	0% {
		transform: translateX(0);
	}
}

.animate-loading {
	animation: loading 3s ease-in-out infinite;
}
